
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>文件上传Demo列表</title>
</head>
<body>
    <div> 
        <ol>
            <li><a href="@Url.Action("Index", "SingleUpload")">MVC单文件上传</a></li>
        </ol>
    </div>
</body>
</html>
